@charset "UTF-8";

@font-face {
    font-family:'poppins';
    src: url('fonts/Poppins-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'ace';
    src: url('fonts/BrunoAce-Regular.ttf') format('opentype')
}

.sobre_projetos {
    padding: 70px;
    scroll-margin-top: 8rem;
    background-color: #070707;
}

.sobre_projetos h1 {
    font-family: 'poppins', Helvetica, sans-serif;
    font-size: 2.3rem;
    color: #00d0ff;  
}

.sobre_projetos div {
    align-items: center;
    justify-content: space-evenly;
}

.sobre_projetos ul {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}

.sobre_projetos h2 {
    font-family: 'poppins', Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #00d0ff;
    padding: 2px;
}

.sobre_projetos p {
    font-family: 'poppins', Helvetica, sans-serif;
    color: #C5C5C5;
    font-size: 13px;
    text-align: justify;
    max-width: 77%;
}

#p-especial {
    max-width: 100%;
}

.sobre_projetos img {
    border-left: 2px solid #00d0ff;
}

/* RESPOSIVO */

@media only screen and (max-width: 900px){

    .sobre_projetos ul {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        width: 20px;
        margin: auto;
    }
}

